<article class="product-card_wrapper box-radius">
  <div class="product-card">
    <h2 class="product-card_title" *ngIf="card_title.length > 0">{{ card_title}}</h2>
    <div class="product-card_btn_grp">
      <div class="icon-bg">
        <img class="header_icon" src="../../../../assets/Imgs/icons/heart.svg" alt="WishList Icon">
      </div>
      <div class="icon-bg">
        <img class="header_icon" src="../../../../assets/Imgs/icons/bag.svg" alt="Shopping bag icon">
      </div>
    </div>
  </div>
</article>
