/* ========================================================================== #BASE ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $body-bg;
  color: $body-font-color;
  font-family: $primary-font-worksans;
  font-size: $global-font-size;
  font-style: normal;
  letter-spacing: normal;
  line-height: $global-line-height;
  position: relative;
}

/* Remove list styles on ul, ol elements with a list role*/
ul,
ol {
  list-style: none;
}

li a {
  text-decoration: none;
  color: $color-text-links;
  font-size: 0.88rem;
  &:hover {
    color: $color-text-primary;
  }
}

li a.active {
  color: $color-text-primary;
  font-weight: $font-weight-medium;
}

p {
  font-size: $global-font-size;
  line-height: $global-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-worksans;
  color: $color-text-primary;
}

h1,
.hd-title {
  font-size: $typographic-scale-size-heading-xxl-display-lg;
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: $color-text-secondary;
  background: $color-text-secondary;
}

::-webkit-scrollbar-track {
  background-color: $body-bg;
}

.icon-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.57rem;
  box-shadow: 5px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.box-radius {
  border-radius: 15px;
}
