/* ==========================================================================
   Buttons
   ========================================================================== */

.btn-global {
  border-radius: 2rem;
  background: $body-bg;
  padding: 0.8rem 1.2rem;
  color: $color-text-primary;
  font-family: $primary-font-worksans;
  font-size: $typographic-scale-size-heading-2;
  line-height: $global-line-height;
  border: 1px solid $border-active;

  &::after {
    content: "→"; /* Adds the arrow */
    margin-left: 0.5rem;
  }

  @include media-breakpoint-down("lg") {
    padding: 0.65rem 0.7rem;
    font-size: $typographic-scale-size-heading-3;
  }
}
