/* ==========================================================================
   #BASE
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $background-primary-color;
  color: $body-font-color;
  font-family: $primary-font-worksans;
  font-size: $global-font-size;
  font-style: normal;
  letter-spacing: normal;
  line-height: $global-line-height;
  position: relative;
}

/* Remove list styles on ul, ol elements with a list role*/
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li a {
  text-decoration: none;
  color: $color-text-links;
  &:hover,
  .active {
    color: $color-text-primary;
  }
}

p {
  font-size: $global-font-size;
  line-height: $global-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-worksans;
  color: $color-text-primary;
}

h1 {
  font-size: $typographic-scale-size-heading-xxl-display-lg;
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: $color-text-secondary;
  // border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-track {
  background-color: $color-white;
}
