/* ==========================================================================
   #FORM ELEMENTS
   ========================================================================== */

[data-slot="input-wrapper"] {
   width: 300px;
   height: 48px;
   border-radius: 8px;
   background-color: #EAF4FF !important;

   &:hover,
   &:focus {
      background-color: #EAF4FF !important;
   }
}