//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                          BASE STYLES
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

//*********Variables*********

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

//*********General CSS*********
body {
  overflow-x: hidden;
  position: relative;
}

body.offcanvas {
  overflow-y: hidden;
}