<header>
  <div class="container">
    <h1 class="header_title">Décor</h1>
    <nav class="header_menu">
      <ul class="header_menu_links">
        <li class="header_menu_links_item"><a href="#">Home</a></li>
        <li class="header_menu_links_item"><a href="#">About Us</a></li>
        <li class="header_menu_links_item"><a href="#">New Collection</a></li>
        <li class="header_menu_links_item"><a href="#">Discount Collection</a></li>
      </ul>
    </nav>
    <div class="header_btn_group">
      <div class="btn-control">
        <img src="../../../../assets/Img/icons/heart.svg" alt="WishList Icon">
      </div>
      <div class="btn-control">
        <img src="../../../../assets/Img/icons/bag.svg" alt="Shopping bag icon">
      </div>
    </div>
  </div>
</header>
