@import "../../../../assets/styles/main.scss";

.header {
  &_container {
    @include flex-layout($justify: space-between, $align: center);
    background-color: $background-primary-color;
    padding: 8px 20px;
    margin-block: 1rem;

    .header_title {
      font-size: 1.8rem;
    }

    .header_menu {
      flex: 1;
      &_links {
        gap: 2.3rem;
        @include flex-layout($justify: center, $align: center);
      }
    }

    .header_btn_group {
      @include flex-layout($justify: flex-end, $align: center);
      gap: 1rem;

      .icon-bg {
        @include flex-layout($justify: space-between, $align: center);
      }

      .header_icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
