<header class="header">
  <div class="container header_container box-radius">
    <h1 class="header_title">Décor</h1>
    <nav class="header_menu">
      <ul class="header_menu_links">
        <li class="header_menu_links_item"><a class="active" href="#">Home</a></li>
        <li class="header_menu_links_item"><a href="#">About Us</a></li>
        <li class="header_menu_links_item"><a href="#">New Collection</a></li>
        <li class="header_menu_links_item"><a href="#">Discount Collection</a></li>
      </ul>
    </nav>
    <div class="header_btn_group">
      <div class="icon-bg">
        <img class="header_icon" src="../../../../assets/Imgs/icons/heart.svg" alt="WishList Icon">
      </div>
      <div class="icon-bg">
        <img class="header_icon" src="../../../../assets/Imgs/icons/bag.svg" alt="Shopping bag icon">
      </div>
    </div>
  </div>
</header>
