<!-- HERO SECTION -->
<div class="row my-4 align-items-stretch">
  <div class="col-12">
    <app-custom-carousel></app-custom-carousel>
  </div>
  <div class="col-12 my-4">
    <app-testimonials></app-testimonials>
  </div>
</div>

<!-- VISION SECTION -->
<div class="row my-4 my-md-0 align-items-stretch px-md-2 align-items-md-center">
  <div class="col-7 col-md-12 col-lg-8 my-md-2">
    <app-dynamic-banner [styleType]="'md'" [heading]="content.visionSection.title"
      [subHeading]="content.visionSection.subtitle" [imgName]="content.visionSection.imgName"></app-dynamic-banner>
  </div>
  <div class="vision-gallery col-5 align-self-md-center col-lg-4 ">
    <app-product-card [carTitle]="content.visionSection.item1" [cardBgImgName]=""></app-product-card>
  </div>
</div>

<!-- WHY CHOOSE US SECTION -->
<div class="row align-items-stretch my-4 ">
  <div class="col-5 col-lg-4">
    <app-product-card [carTitle]="content.whyChooseUsSection.item1"></app-product-card>
  </div>
  <div class="col-7 col-lg-8">
    <app-dynamic-banner [styleType]="'md'" [heading]="content.whyChooseUsSection.title"
      [subHeading]="content.whyChooseUsSection.subtitle"
      [imgName]="content.whyChooseUsSection.imgName"></app-dynamic-banner>
  </div>
</div>

<div class="row my-4">
  <div class="col-12">
    <app-custom-carousel></app-custom-carousel>
  </div>
</div>

<!-- UNIQUE DECOR SECTION -->
<div
  class="row my-4 align-items-stretch decore-section flex-md-column align-items-md-center justify-content-md-between">
  <div class="col-4 ">
    <app-product-card [carTitle]="content.uniqueDecorSection.item1"></app-product-card>
  </div>
  <div class="col-4">
    <app-product-card [carTitle]="content.uniqueDecorSection.item2"></app-product-card>
  </div>
  <div class="col-4">
    <app-product-card [carTitle]="content.uniqueDecorSection.item3"></app-product-card>
  </div>
</div>

<!-- NEWSLETTER SECTION -->
<div class="row my-4">
  <div class="col-12">
    <app-news-letter></app-news-letter>
  </div>
</div>

<!-- GALLERY SECTION -->
<div class="row my-4">
  <div class="col-6 h-100">
    <app-dynamic-banner [styleType]="'md'" [heading]="content.homeStories.title"
      [subHeading]="content.homeStories.subtitle" [imgName]="content.homeStories.imgName"></app-dynamic-banner>
  </div>
  <div class="col-6">
    <div class="row row-cols-2 h-100 g-4">
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
    </div>
  </div>
</div>
