<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <app-dynamic-banner [styleType]="'lg'" [heading]="content.homeDecorContent.content1.title"
        [subHeading]="content.homeDecorContent.content1.subtitle"
        [imgName]="content.homeDecorContent.content1.imgName"></app-dynamic-banner>
    </div>
    <div class="carousel-item">
      <app-dynamic-banner [styleType]="'lg'" [heading]="content.homeDecorContent.content2.title"
        [subHeading]="content.homeDecorContent.content2.subtitle" [imgName]="content.homeDecorContent.content2.imgName"
        [backgroundPostion]="'center'"></app-dynamic-banner>
    </div>
    <div class="carousel-item">
      <app-dynamic-banner [styleType]="'lg'" [heading]="content.homeDecorContent.content3.title"
        [subHeading]="content.homeDecorContent.content3.subtitle" [imgName]="content.homeDecorContent.content3.imgName"
        [backgroundPostion]="'center'"></app-dynamic-banner>
    </div>
  </div>
</div>
