@import "../../../../assets/styles/main.scss";

.banner_section {
  @include flex-layout(
    $direction: column,
    $justify: center,
    $align: flex-start
  );
  background-color: $background-primary-color;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;

  height: 100%; /* Adapts to parent container */
  min-height: 400px; /* Ensures visible height */

  @include media-breakpoint-down("md") {
    min-height: 350px; /* Ensures visible height */
    background-size: cover;
    background-position: center center;
  }

  &_wrapper {
    padding: 20px;
    @include flex-layout(
      $direction: column,
      $justify: center,
      $align: flex-start
    );
    gap: 2rem;

    @include media-breakpoint-down("sm") {
      padding: 0px;
    }

    .banner_content {
      width: 65%;

      @include media-breakpoint-down("lg") {
        width: 85%;
      }

      @include media-breakpoint-down("sm") {
        width: 100%;
        padding: 0px;
      }

      .banner_heading {
        margin-bottom: 0.7rem;
      }
    }
  }

  .banner-lg {
    @include media-breakpoint-down("lg") {
      text-align: center;
      align-items: center;
    }
  }

  .font-lg {
    font-size: 3rem;
    @include media-breakpoint-down("lg") {
      font-size: 2.45rem;
    }

    @include media-breakpoint-down("md") {
      font-size: 2.2rem;
    }
    @include media-breakpoint-down("sm") {
      font-size: 1.65rem;
    }
  }

  .font-md {
    font-size: 2.35rem;
    @include media-breakpoint-down("lg") {
      font-size: 1.8rem;
    }
  }
}
