@import "../../../../assets/styles/main.scss";

.banner_section {
  @include flex-layout(
    $direction: column,
    $justify: center,
    $align: flex-start
  );
  background-color: $background-primary-color;
  // background-image: url("../../../../assets/Imgs/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;

  height: 100%; /* Adapts to parent container */
  min-height: 400px; /* Ensures visible height */

  &_wrapper {
    padding: 20px;
    @include flex-layout(
      $direction: column,
      $justify: center,
      $align: flex-start
    );
    gap: 2rem;

    .banner_content {
      width: 65%;

      .banner_heading {
        margin-bottom: 0.7rem;
      }
    }
  }
}
