@import "../../../../assets/styles/main.scss";


.banner_section {
  &_wrapper {
    @include flex-layout(
      $direction: column,
      $justify: center,
      $align: flex-start
    );
    background-color: $background-primary-color;
  }
}
