@import "../../../../assets/styles/main.scss";

.footer {
  background-color: $background-primary-color;
  padding: 2.5rem;

  &-container {
    @include flex-layout(
      $direction: "column",
      $justify: center,
      $align: space-between
    );
    padding: 10px 20px;
    border-radius: 18px;

    .quick-action{
      @include flex-layout(
        $direction: "column",
        $justify: center,
        $align: center
      );
    }
  }
}
